.header
{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    text-align: center;
    background: linear-gradient(to top left, #335b964f, #009155a2);
    color: rgb(255, 255, 255);
}
.header h1
{
    font-size: 50px;
    font-family: Helvetica;
}
.navbar
{
    overflow: hidden;
    background-color: #335b964f;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: Helvetica;
}
.navbar a.right 
{
    float: right;
}
.navbar a:hover 
{
    background-color: #ddd;
    color: black;
}
/* Column container */
.row 
{  
    display: flex;
    flex-wrap: wrap;
}
.side_l
{
    flex: 10%; /* Set the width of the sidebar */
    background-color: #000000; /* Grey background color */
    padding: 20px; /* Some padding */
}
.main
{
    
    flex: 60%; /* Set the width of the main content */
    background-color: #ddd;
    ; /* White background color */
    padding: 20px; /* Some padding */
    color: rgb(0, 0, 0);
}
.side_r
{
    flex: 10%; /* Set the width of the sidebar */
    background-color: #000000; /* Grey background color */
    padding: 20px; /* Some padding */
}
.footer
{
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
}